:root {
  --default-margin: 0px 20px;
  --default-color: white;

  --header-logo-font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
}

.homepage {
  width: 100%;
  margin: var(--default-margin);

  display: flex;
  flex-direction: column;
  gap: 120px;
}

.header {
  height: 120px;
  margin: var(--default-margin);

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid var(--default-color);
}

.search-wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.menu-dropdown {
  border-radius: 40px;
  padding: 20px 38px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  background-color: var(--default-color);
}

.dropdown-arrow-container {
  height: 15px;
  aspect-ratio: 1;

  background-color: var(--default-color);
}

.dropdown-arrow {
  width: 100%;
  height: 100%;
}

.search-button {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--default-color);
}

.search-icon {
  height: 35%;
  aspect-ratio: 1;

  transform: rotateY(180deg);
}

.header-list {
  color: var(--default-color);

  display: flex;
  gap: 42px;
}

.header-logo {
  font-size: 3.5em;
  font-family: var(--header-font-family);
  font-weight: 900;
  padding-left: 50px;

  color: var(--default-color);

  align-items: stretch;
}

.homepage-catchline {
  height: 500px;
  font-size: 125px;
  font-weight: 300;
  line-height: 1em;

  color: var(--default-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-catchline > .firstline {
  transform: translateX(-195px);
}

.homepage-catchline > .secondline {
  transform: translateX(215px);
}

.homepage-catchline > .thirdline {
  transform: translateX(-148px);
}

.background-image {
  height: 100%;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;

  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;

  z-index: -1;
  background: linear-gradient(rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0.4)),
    url(images/homepage-image.jpeg);

  background-size: cover;
  background-repeat: no-repeat;
}
