:root {
  --default-margin: 0px 20px;
  --default-color: white;

  --header-logo-font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  height: 120px;
  width: 100%;
  padding: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.menu-dropdown {
  border-radius: 40px;
  padding: 20px 38px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  background-color: var(--default-color);
}

.hidden-menu-nav {
  width: 100%;
  height: 0px;
  opacity: 0;

  background-color: aqua;

  position: absolute;
  top: 0px;
  left: 0px;
}

.page:has(.menu-dropdown:hover) .hidden-menu-nav {
  height: 80%;
  opacity: 1;
  z-index: -1;
}

.dropdown-arrow-container {
  height: 15px;
  aspect-ratio: 1;

  background-color: var(--default-color);
}

.dropdown-arrow {
  width: 100%;
  height: 100%;
}

.search-button {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--default-color);
}

.search-icon {
  height: 35%;
  aspect-ratio: 1;

  transform: rotateY(180deg);
}

.header-list {
  color: var(--default-color);

  display: flex;
  gap: 42px;
}

.header-logo {
  font-family: var(--header-font-family);
  font-size: 3.5em;
  font-weight: 900;
  padding-left: 50px;

  color: var(--default-color);

  align-items: stretch;
}

.header-seperation-line {
  height: 1px;
  width: 95%;

  align-self: center;

  background-color: white;
}

.homepage {
  margin: var(--default-margin);
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 180px;
}

.background-image {
  height: 100%;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;

  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;

  z-index: -5;
  background: linear-gradient(rgba(1, 1, 1, 0.5), rgba(1, 1, 1, 0.4)),
    url(images/homepage-image.jpeg);

  background-size: cover;
  background-repeat: no-repeat;
}

.homepage-catchline {
  height: 740px;
  width: 970px;
  font-size: 125px;
  font-weight: 200;
  line-height: 1em;

  color: var(--default-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.homepage-catchline > .firstline {
  align-self: flex-start;
}

.homepage-catchline > .secondline {
  align-self: flex-end;
}

.homepage-catchline > .thirdline {
  align-self: flex-start;
}

.homepage-catchline > * {
  animation-name: fade-out;
  /* animation-delay: 1s; */
  animation-duration: 2s;
  transform-origin: bottom;
  transition-timing-function: cubic-bezier(0.64, 0, 0.78, 0);
}

@keyframes fade-out {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}
